<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <title>Salon automobile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&amp;family=Rubik&amp;display=swap" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="css/style.css" rel="stylesheet">
      <!-- Pickr CSS -->
      <link href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" rel="stylesheet" />
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Navbar Start -->

	    <div class="container-fluid bg-white position-relative">
        <nav class="navbar navbar-expand-xl bg-white navbar-light py-3 py-lg-0">
            <div id ="titre-principal" class="form-check">
                <a href="index.html" class="navbar-brand text-secondary">
                    <h1 class="display-4 text-uppercase">{{titre}}</h1>
                </a>
                <input type="text" class="form-control form-control-sm col-md-3 mb-3" v-model="titre" @input="sauvegardeTitre">
                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <div class="d-none d-xl-flex align-items-center pl-4"> 
                    <img src="img/GROUPEPEYROT_Logo_RVB_Positif_72dpi_ok_format_logo.png" width="300">
                </div>
            </ul>
            </div>
        </nav>
      </div>    <!-- Navbar End -->


    <!-- Header Start -->
    <header id="background-color">
        <div class="container-fluid py-5 px-0 " style="margin-bottom: 45px;" :style="{ backgroundColor: backgroundColor }">
            <button id="colorPicker"></button>
            <div class="row mx-0 align-items-center">
                <div class="col-lg-6 px-md-5 text-center text-lg-left">

                    <div id="nouveau-modele" class="row">
                            <input type="text" class="col form-control form-control-sm" v-model="titre" @input="sauvegardeTitre">
                            <input type="checkbox" id="blankCheckbox" class="col-auto" value="option1" aria-label="...">
                            <h1 class="col-12 display-2 text-uppercase mb-3">{{titre}}</h1>
                    </div>

                    <div id="description-modele" class="form-group row">
                        <p class="text-dark mb-4 col-12"><big>{{description}}</big></p>
                        <textarea v-model="description" @input="sauvegardeDescription" rows="1" class="form-control col"></textarea>
                        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="..." class="col-auto">
                    </div>    
                        <a href="concession.html" target="_parent" class="btn btn-dark text-uppercase mt-1 py-3 px-5">Démarrez l'expèrience</a>
                    </div>

                    <div id="photo-change" class="col-lg-6 px-0 text-right">
                        <label class="btn btn-primary button-primary btn-sm">
                            Changer la photo
                            <input type="file" @change="handleImageChange" style="display: none;">
                        </label>
                        <img :src="imagePath" alt="Photo">
                    </div>
                </div>   
            </div>
    </header>

    <div id="menu_deroulant_container">
        <div class="d-flex justify-content-center">
          <select class="form-select form-select-lg w-75 drop_list" v-model="section" aria-label="Default select example">
            <option value="" class="text-center">Choisir la concession</option>
            <option value="section1" class="text-center">Ajouter/Suprimer une concession</option>
            <option value="section2" class="text-center">Changer les horaires d'exposition</option>
            <option v-for="concession in concessions" :value="concession" class="text-center">{{ concession }}</option>
          </select>
        </div>
      
        <div class="section" v-if="section === 'section1'">

          <form @submit.prevent="ajouterConcession">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="formGroupExampleInput" v-model="concessionInput" placeholder="Nom de la concession">
                <button type="submit" class="btn btn-primary">Ajouter une concession</button>
              </div>
            </div>
          </form>

          <div v-for="concession in concessions" :key="concession" class="section">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-center">{{ concession }}</h3>
                <button class="btn btn-danger" @click="supprimerConcession(concession)">Supprimer cette concession</button>
            </div>
          </div>

          <button @click="supprimerConcessions" type="submit" class="btn btn-danger btn-lg btn-block">Supprimer les concessions</button>

        </div>

        <div class="section" v-if="section === 'section2'">
            <form @submit.prevent="ajouterHoraires">
              <input type="time" v-model="morningStart" min="08:00" max="11:00" required>
              <small>Choisir l'heure de début du matin</small><br>
          
              <input type="time" v-model="pauseTime" min="11:30" max="14:00" required>
              <small>Choisir l'heure de la pause</small><br>
          
              <input type="time" v-model="afternoonStart" min="13:00" max="17:00" required>
              <small>Choisir l'heure de début de l'après-midi</small><br>
          
              <input type="time" v-model="afternoonEnd" min="17:30" max="19:00" required>
              <small>Choisir l'heure de fin de l'après-midi</small><br>
          
              <input type="number" class="form-control" v-model="ecartCreneaux" placeholder="Ecart entre les créneaux">    
              <button type="submit" class="btn btn-primary">Valider</button>
            </form>   
            <div v-for="horaire in horaires" :key="horaire">
              <h3 class="text-center">{{horaire}}</h3>
            </div>  
          <button class="btn btn-danger" @click="supprimerHoraires">Supprimer les horaires</button>
        </div>
        
        <div v-for="concession in concessions" :key="concession" class="section" :class="{ 'd-none': section !== concession }">
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                  <h3 class="nom_concession">{{ concession }}</h3>
                </div>
                <div class="col text-right">
                  <!-- Utilisez une classe unique pour le bouton de déclenchement -->
                  <button :class="'btn btn-primary popover-trigger ' + concession" @click="togglePopover(concession)">Ajouter un modèle</button>
                </div>
              </div>
            </div>
            <!-- Utilisez la directive v-if pour afficher le formulaire si le popover est ouvert -->
            <div v-if="isPopoverOpen(concession)" class="popover-content" :class="'popover-content ' + concession">
              <form @submit.prevent="ajouterAutomobile(concession)">
                <div class="form-group">
                  <label :for="'autoName-' + concession">Nom du modèle</label>
                  <input v-model="modeleInput" type="text" class="form-control" :id="'autoName-' + concession">
                </div>
                <div class="form-group">
                  <label :for="'inputEmail-' + concession">Places disponibles</label>
                  <input type="number" min="1" class="form-control" :id="'inputEmail-' + concession" v-model="placesInput">
                </div>
                <button type="submit" class="btn btn-primary">Créer modèle</button>
              </form>
            </div>
        </div>
    </div>   
    <!-- Footer Start -->
	    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="index-2.html" class="navbar-brand">
                    <h1 class="m-0 mt-n2 text-white display-5">Groupe PEYROT</h1>
                </a>
                <p><br></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
            </div>
            <div class="col-lg-3 col-md-6 mb-5">          
            </div>
        </div>
    </div>
   <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-up"></i></a>


   
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.8.0/dist/pickr.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/Vue.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    
    </body>
</html>